@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide mobile sidebar hamburger menu toggle when a conversation is open in mobile view */
body.mobile-chat-open #mobile-sidebar-menu-btn {
  display: none !important;
}
